body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* MAIN CONTAINER */
.pricing-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

/* CARD STYLE */
.plan-box {
    background: #e8e8e8;
    width: 260px;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.12);
    text-align: center;
}

.plan-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* PRICE TEXT */
.price {
    font-size: 40px;
    font-weight: 900;
    font-family: "Arial Black", sans-serif;
    margin: 0;
}

.per-month {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    display: block;
}

/* FEATURES LIST */
.features {
    text-align: left;
    margin: 10px auto 20px;
    width: 80%;
    list-style: none;
    padding: 0;
}

.features li {
    margin: 6px 0;
    font-weight: 600;
}

/* Check & Cross Icons */
.check {
    color: rgb(238, 172, 19);
    font-weight: bold;
    margin-right: 8px;
}
.cross {
    color: rgb(11, 128, 253);
    font-weight: bold;
    margin-right: 8px;
}

/* ---------- BUTTON ---------- */
.sign-btn {
    background: #7370c3;
    color: rgb(253, 253, 253);
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
